<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
</head>
<body>
    <div class="background-image">
    </div>
    <h1>QR Code Generator</h1>
    
    <form id="urlForm" action="/user" method="post">
        <label for="url">Enter URL</label>
        <input type="text" required name="url" id="urlInput">
        <button type="submit">Generate QR Code</button>
    </form>
</body>
</html>
